body
{
	background-color: white;
}
#principal
{
	float: left;
	margin-left: 350px;
	margin-top: 50px;
	width: 500px;
	height: 500px;
	background-color: #029BDE ;
	border-radius: 25px;
	box-shadow: 5px 0px 30px #029BDE;
}

h1
{
	padding: 5px;
	font-family: "Arial";
	position: center;
	float: fixed;
}

#area, #datos
{
	width: 350px;
	height: 40px;
	float: left;
	margin-left: 90px;
	margin-top: 5px;
}

input
{
	width: 100px;
	border-radius: 5px;
	margin-right: 5px;

}

input:focus
{
	box-shadow: 0px 0px 20px white;
}

#datos input[type="number"]
{
	width: 32px;
}
#send
{}
#add
{
	margin-left: 35%;
	margin-top: 5px;
	border-radius: 25px;
	background-color: white;
	cursor: pointer;
	font: bold;
}

/*--------------------Marcos---------------------*/
#marco
{
	width: 500px;
	float: left;
}

